h1 {
  color: #4940c4; /* Um tom de azul mais escuro para títulos */
  margin-bottom: 20px;
  text-align: center;
}
p {
  line-height: 1.6;
  color: #000000;
text-align: center;
 
 div{
  bottom: 17px;;
  margin: 17px;
  background-color: azure;
  text-align: center;
 }